.card {
    /* ff 3.6+ */
    background: -moz-linear-gradient(27deg, rgba(243, 255, 255, 1) 0%, rgba(210, 239, 250, 1) 78%, rgba(139, 167, 170, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(27deg, rgba(243, 255, 255, 1) 0%, rgba(210, 239, 250, 1) 78%, rgba(139, 167, 170, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(27deg, rgba(243, 255, 255, 1) 0%, rgba(210, 239, 250, 1) 78%, rgba(139, 167, 170, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3FFFF', endColorstr='#8BA7AA', GradientType=1);

    /* ie 10+ */
    background: -ms-linear-gradient(27deg, rgba(243, 255, 255, 1) 0%, rgba(210, 239, 250, 1) 78%, rgba(139, 167, 170, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(27deg, rgba(243, 255, 255, 1) 0%, rgba(210, 239, 250, 1) 78%, rgba(139, 167, 170, 1) 100%);
    box-shadow: -100px 50px 25px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px 30px;
}