.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #999999;
    background: #ffffff;
    border: 3px solid #999999;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;

    color: black;
    background-color: red;
    font-size: 20px;
    padding: 16px 28px;
    cursor: pointer;
    transition: .3s ease-out;
    border-radius: 5px 13px 10px 30px;
    animation: buttonSlowAnimation 2s ease-in infinite;
}

.contact::before,
.contact::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.contact::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.contact::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.contact:hover {
    color: #222222;
}

.contact:hover::before,
.contact:hover::after {
    width: 30px;
    height: 30px;
    border-color: #222222;
}

.image {
    width: 200px;
    height: 100px;
    margin-left: -15rem;
}

@keyframes buttonSlowAnimation {
    0% {
        padding: 16px 28px;
    }

    50% {
        padding: 26px 38px;
    }

    100% {
        padding: 16px 28px;
    }
}

@media (max-width: 500px) {
    .contact {
        font-size: 1.2rem;
    }

    .image{
        transform: rotate(90deg);
        margin: 0;
        flex-basis: 100%;
        flex: 0 0 50%;
    }
}